:root {
    --black-primary: #151515;
    --white-menu: #f8f5f1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--black-primary);
}

html {
    font-size: 62.5%;
}

.header {
    background-color: var(--black-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}

.header__logo {
    width: 160px;
    height: 160px;
}

.header__menu {
    background-color: transparent;
    width: 100px;
    margin-right: 10px;
}


.header__menu ul {
    display: none;
    background-color: var(--white-menu);
    border-radius: 10px;
    position:   absolute;
    list-style: none;
    width: 100px;
    height: 100px;
    margin-right: 100px;
}

.header__menu:hover ul, ul:hover {
    display: block;
}

.header__menu li {
    padding: 5px;
    
}

.header__menu li:hover {
    text-decoration: underline;
}

.header__menu li a {
    color: var(--black-primary);
    text-decoration: none;
    font-size: 1.6rem;
}

.header__menu--profile img {
    width: 50px;
}

.main {
    background-color: var(--black-primary);
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__title {
    color: var(--white-menu);
    font-size: 3rem;
    text-align: center;
}

.input {
    background-color: transparent;
    color: var(--white-menu);
    border-radius: 20px;
    border: 2px solid var(--white-menu);
    width: 500px;
    height: 40px;
    outline: none;
    padding: 0 10px;
    margin: 30px;
    box-shadow: none;
}

.input:hover {
    transition: 400ms;
    box-shadow: 0px 0px 7px 1px var(--white-menu);
}

::placeholder {
    color: var(--white-menu);
}


/* Carrousel */ 

 /*1.- Width del 100% para que abarque toda la pantalla.
      2.- Con overflow establecemos la propiedad de scroll
      3.- padding del 30% para tener un margen de vista
      4.- Pos:Relative porque queremos que los elementos que hereden se ajusten con base en este elemento*/

.carrousel {
    width: 100%;
    overflow: scroll;
    padding: 5px;
    position: relative;
}

/* 1.- WhiteSpace nowrap Enlista todos los elementos en un solo renglón.
       2.- Establecemmos un pequeño espaciado entre los elementos de la lista.
       3.- Padding de 10px para evitar que se nos corte el elemento cuando hagamos hover
*/

.carrousel__container {
    display: flex;
    white-space: nowrap;
    margin: 70px;
    padding-bottom: 10px;
}


/*
    /* 1-3 Color, altura, anchura.
       4.- Qué tan curvo queremos nuestro borde
       5.- Overflow: Hidden Para que tome los estilos
       6.- Margin 10px separación entre elementos
       7.-InLineBlock: Un item al lado del otro
       8.-Cambia el icono del mouse cuando selecciona el elemento
       9.-Suaviza la transcisión para que se vea agradable
       10.- Ajusta los elementos para que no se salgan y empiecen de izq a derecha

    */

.carrousel-item {
    background-color: black;
    width: 250px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}


/*
        Carousel hover.
        1.- Desplaza los elemenots hacia la derecha
        2.- ~ Selecciona todos los elementos excepto el elemento que está seleccionado
*/

.carrousel-item:hover ~ .carrousel-item {
    transform: translate3d(150px, 0, 0);
}

/*
        1.- Opacidad
*/

.carrousel__container:hover .carrousel-item {
    opacity: 0.3;
}

/*
        1.- Escala en 1.5 la imagen seleccionada
        2.- Cuando se le haga hover a un elemento especīfico, pone la opacidad en 1.
*/

.carrousel__container:hover .carrousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
    box-shadow: 0px 0px 7px 1px var(--white-menu);
}

.carrousel-item img {
    width: 250px;
    height: 150px;
    object-fit: cover;
}

.carrousel-item__details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 1rem;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.carrousel-item__details img {
    width: 20px;
    height: 20px;
}

.carrousel-item__details:hover {
    opacity: 1;
}

/* Quita el scrollbar que se genera con el overflow: scroll*/

::-webkit-scrollbar {
    display: none;
}

.categories__title {
    color: var(--white-menu);
    font-size: 1.8rem;
    width: 100%;
    padding-left: 90px;
}

.footer {
    display: flex;
    width: 100%;
    font-size: 1.6rem;
    justify-content: space-around;
}

.footer a {
    color: var(--white-menu);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}